.sidebar {
    min-width: 260px;
    background: #202123;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 0.75rem;
    color: #fff;
}

.sidebar .logo {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    flex: 0 0 55px;
}

.sidebar .github a {
    color: #999;
    font-size: 0.8rem;
}

.sidebar a:hover {
    color: #fff;
}

.sidebar .logo svg {
    color: #fff;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-bottom: -8px;
}

.settings {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
}

.sidebar button, select {
    padding: 0.4rem;
    border: none;
    border-radius: .25rem;
    background-color: #333;
    color: #fff;
}

.sidebar select option {
    padding: 0.8rem;
}

.sidebar button {
    cursor: pointer;
    margin-bottom: 0.5rem;
    background: #74a89b;
}

.sidebar label {
    font-size: 0.9rem;
    color: #999;
    margin-top: .5rem;
    margin-bottom: .25rem;
}

.sidebar label.header {
    font-size: 1.2rem;
}


